.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    cursor: pointer;
    width: 350px;
    max-width: 100%;
}
.danger{
    color: #dc3545;
    border-color: #dc3545;
}
.active{
    background-color: #28a745;
}